# ML Semana 2 Grupo #777
- Natalia Nobre
- Joaquin Ferreira
- Mathias Rodriguez

### Configuraci√≥n del ambiente:

In [126]:
# Imports
import pandas as pd
import numpy as np
from sklearn.preprocessing import OrdinalEncoder
import pandas_profiling
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from mlxtend.plotting import plot_confusion_matrix
from sklearn.metrics import confusion_matrix
from sklearn import tree

### Importo los datos
Importo los datos usando <code>pandas.read_csv()</code>

In [127]:
# Importo con pandas para crear el Dataframe y lo nombro como "df"
url_csv = "vgsalesv3.csv"
df = pd.read_csv(url_csv, sep=';')

In [128]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [129]:
# Sacamos las columnas que no son utiles para el analisis
df.drop(columns=["Rank", "NA_Sales", "EU_Sales", "Other_Sales","Publisher","Year","Name"],inplace=True)

In [130]:
# incrementan en el tiempo o no, y los campos faltantes de global sales ya que es la variable objetivo
df.dropna(subset=['Global_Sales'], inplace=True)
df.dropna(subset=['JP_Sales'], inplace=True)

In [131]:
#Factorizamos la columna genre y nos quedamos con sus valores numericos ignorando la otra columna correspondiente al valor
df['Factor_Genre'] = df['Genre'].factorize()[0]
df['Factor_Platform'] = df['Platform'].factorize()[0]
df.drop(columns=["Genre"],inplace=True)
df.drop(columns=["Platform"],inplace=True)

In [132]:
df.head()

   JP_Sales  Global_Sales  Factor_Genre  Factor_Platform
0      3.77         82.74             0                0
1      6.81         40.24             1                1
2      3.79         35.82             2                0
3      3.28         33.00             0                0
4     10.22         31.37             3                2

In [133]:
dfTrain, dfTest = train_test_split(df, test_size = 0.20)

print("Ejemplos usados para entrenar: ", len(dfTrain))
print("Ejemplos usados para test: ", len(dfTest))

Ejemplos usados para entrenar:  13270
Ejemplos usados para test:  3318

In [135]:
xTrain = dfTrain.drop(columns=["Factor_Genre"])
yTrain= dfTrain['Factor_Genre']
xTest = dfTest.drop(columns=["Factor_Genre"])
yTest = dfTest['Factor_Genre']


model = RandomForestClassifier(n_estimators=19, random_state = 2016, min_samples_leaf = 8)
model.fit(xTrain, yTrain)
model.score(xTest, yTest)
Ypred = model.predict(xTest)
#Creamos la confusion matrix
matriz = confusion_matrix(yTest, Ypred)
plot_confusion_matrix(conf_mat=matriz, figsize=(6,6), show_normed=False)
plt.tight_layout(rect=[0, 0.03, 1, 0.95])
plt.tight_layout()
plt.show()
# y_pred = model.predict(X = xTest)

# # imprimimos los coeficientes y el error del modelo
# print('Coeficientes:', model.coef_)
# print('Error:', mean_squared_error(yTest, y_pred))
# print('Coeficiente de determinacion (R^2): %', r2_score(yTest, y_pred))

# plt.scatter(xTest, yTest,  color='orange')
# plt.plot(xTest, y_pred, color='red', linewidth=3)

# plt.show()

C:\Users\mir-j\AppData\Local\Temp/ipykernel_952/2954449526.py:16: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()